.action-buttons-block {
  &__heading {
    font-size: var(--heading2);
    text-transform: uppercase;
  }

  &__buttons {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  &__button {
    flex: 0 0 auto;
    background-color: transparent;
    border: 1px solid var(--white-gray);
    padding: var(--spacing-xs) var(--spacing-xl);
    color: var(--white-gray);
    text-transform: uppercase;
    font-weight: bold;
  }
}
