.text-content-block {
  &__heading {
    font-size: var(--heading2);
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  &__content {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
    font-size: var(--body2);
    color: var(--white-gray);
    line-height: 1.1;
    text-align: center;
  }
}
