@use "../../scss/breakpoints" as b;

.footer {
  background-color: var(--gray-blue-dark);
  color: var(--gray);
  padding: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-md);

  @media (min-width: 23.5rem) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__css-is-awesome-wrapper {
    @media (min-width: b.$breakpoint-xl) {
      flex-basis: 33%;
    }
  }

  &__css-is-awesome {
    display: flex;
    flex-direction: column;
    width: 4.6rem;
    margin-right: 1.2rem;
    padding: var(--spacing-xs);
    line-height: 1.2;
    font-size: 1.1rem;
    border: 1px solid var(--gray);
    text-transform: uppercase;
  }

  &__nabthat-wrapper {
    @media (min-width: b.$breakpoint-xl) {
      flex-basis: 33%;
    }
  }

  &__nabthat {
    display: none;

    @media (min-width: b.$breakpoint-xl) {
      flex-basis: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-sm);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 4rem;
      height: 2px;
      background-color: var(--gray);
    }

    &-text {
      text-transform: lowercase;
      font-size: var(--heading2);
    }
  }

  &__button-wrapper {
    @media (min-width: b.$breakpoint-xl) {
      flex-basis: 33%;
    }
  }

  &__button {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: 0.7rem 4rem;
    color: var(--white-gray);
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: b.$breakpoint-xl) {
      flex-basis: 33%;
    }

    &-icon {
      margin-left: var(--spacing-sm);
      flex-shrink: 0;
    }
  }
}
